@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #008080;
}

.hnbear {
    position: relative;
    margin: 100px auto;
    width: 400px;
    height: 320px;
}

.hnbear .face {
    position: absolute;
    top: 40px;
    left: 15px;
    width: 290px;
    height: 270px;
    border: 10px solid black;
    border-radius: 50%;
    background: #A0522D;
    z-index: 1; 
}

.hnbear .ear.left{
    position: absolute;
    top: 0;
    left : 0;
    width: 120px;
    height: 120px;
    border: 10px solid black;
    border-radius: 70% 50% 70% 50%;
    background: #A0522D;
    z-index: -1; 
}

.hnbear .ear.right {
    position: absolute;
    top: 0;
    left : 200px;
    width: 120px;
    height: 120px;
    border: 10px solid black;
    border-radius: 50% 70% 50% 70%;
    background: #A0522D;
    z-index: -1;
}

.hnbear .ear.left.in {
    position: absolute;
    top: 20px;
    left : 20px;
    width: 70px;
    height: 70px;
    border: 10px solid black;
    border-radius: 70% 50% 70% 50%;
    background: #F4A460;
    z-index: 0;
}

.hnbear .ear.right.in {
    position: absolute;
    top: 20px;
    left : 230px;
    width: 70px;
    height: 70px;
    border: 10px solid black;
    border-radius: 50% 70% 50% 70%;
    background: #F4A460;
    z-index: 0;
}

.hnbear .eye.left {
    position: absolute;
    top: 130px;
    left: 80px;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 100%;
    background: black;
    z-index: 1;
}
.hnbear .eye.right {
    position: absolute;
    top: 130px;
    right: 145px;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 100%;
    background: black;
    z-index: 1;
}

.hnbear .eye.left.brow {
    position: absolute;
    top: 100px;
    left: 60px;
    width: 60px;
    height: 15px;
    border: 2px solid black;
    border-radius: 15px;
    background: black;
    transform: rotate(-10deg);
    z-index: 1;
}
.hnbear .eye.right.brow {
    position: absolute;
    top: 100px;
    right: 120px;
    width: 60px;
    height: 15px;
    border: 2px solid black;
    border-radius: 15px;
    background: black;
    transform: rotate(10deg);
    z-index: 1;
}

.hnbear .nose {
    position: absolute;
    top: 160px;
    left: 147px;
    width: 50px;
    height: 35px;
    border-radius: 40%;
    background: black;
    z-index: 2;
}

.hnbear .flush.left {
    position: absolute;
    top: 180px;
    left: 60px;
    width: 40px;
    height: 15px;
    border-radius: 20%;
    background: #FFB6C1;
    z-index: 3;
}
.hnbear .flush.right {
    position: absolute;
    top: 180px;
    left: 240px;
    width: 40px;
    height: 15px;
    border-radius: 20%;
    background: #FFB6C1;
    z-index: 3;
}

.hnbear .mouth {
    position: absolute;
    top: 180px;
    left: 97px;
    width: 140px;
    height: 100px;
    border: 7px solid black;
    border-radius: 60%;
    background: #D2691E;
    z-index: 1;
}

.hnbear .mouth.line {
    position: absolute;
    top: 240px;
    left: 150px;
    width: 40px;
    height: 8px;
    border: 2px solid black;
    border-radius: 15px;
    background: #000000;
    z-index: 3;
}

.hnbear:hover {
    transform: rotate(-10deg) scale(1.2);
    cursor: pointer;
}

.content {
    text-align: center;
}

h1 {
    font-family: 'IM_Hyemin-Bold';
    font-size: 60px;
}

p {
    font-family: "IM_Hyemin-Bold";
    font-size: 30px;
} 